@use "global" as *;

.catalog {
    background-color: #01C48C;
    background-image: url('../images/common/campany-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: rem(1200) rem(200);
    @include mq(md){
        background-size: contain;
    }
}


.catalog__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md){
        max-width:1210px ;
    }
}

.catalog__title{
    display: flex;
	gap: 0 rem(8);
	text-align: center;
	align-items: center;
	justify-content: center;
    color: $white;
	@include mq(md){
		gap: 0 rem(28);
	}
}

.catalog__area{
    font-size: rem(20);
    @include mq(md){
        font-size: rem(32);
    }
}

.catalog__chart{
    margin-top: rem(10);
    font-size: rem(24);
    @include mq(md){
        margin-top: 0;
        font-size: rem(36);
    }
}

.catalog__left-img,
.catalog__right-img{
    margin-top: rem(24);
	width: rem(32);
	height: rem(5);
	@include mq(md){
        margin-top: rem(0);
		width: rem(132);
		height: rem(24);
	}
}

.catalog__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(76);
    }
}