@use "global" as *;

.company-card{
    @include mq(md){
        display: flex;
    }
}

.company-card__item {
    padding: rem(60) rem(23) rem(46);
    width: 100%;
    position: relative;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    @include mq(md){
        width: 50%;
        padding: 0 rem(40);
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }
}

.company-card__item:first-child {
    @include mq(md){
        border-right: 1px solid $black;
    }
}

.company-card__item + .company-card__item{
    margin-top: rem(64);
    @include mq(md){
        margin-top: 0;
    }
}

.company-card__head {
    position: absolute;
    top: -3.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 82%;
    @include mq(md){
        top: rem(-170);
        left: 7%; /* レスポンシブで左寄せに戻す */
        transform: none; /* transformを無効にする */
        width: 93%;
        height: 10%;
    }
}

.company-card__head img {
    width: 100%;
    height: rem(100);
    object-fit: cover;
    @include mq(md){
        width: 92.5%;
        height:100%;
    }
}


.company-card__subtitle{
    font-size: rem(13.81);
    @include mq(md){
        font-size: rem(24);
    }
}

.company-card__title{
    width: 100%;
    position: relative;
    margin-top: rem(20);
    @include mq(md){
        width: 120%;
    }
}

.company-card__title img {
    @include mq(md){
        width: rem(613);
        height: rem(95);
        position: absolute;
        top: 0%;
        left: -17%;
    }
}

.company-card__title-right{
    width: 100%;
    position: relative;
    margin-top: rem(20);
    @include mq(md){
        width: 120%;
    }
}

.company-card__title-right img {
    @include mq(md){
        width: rem(613);
        height: rem(95);
        position: absolute;
        top: 0%;
        right: 0%;
    }
}

.company-card__title-text{
    background-color: #F6F6F6;
    padding: rem(13) 0;
    font-size: rem(23.1);
    width: calc(100% + 2.96rem); /* 必要に応じて調整 */
    box-sizing: border-box; /* パディングやボーダーをサイズ計算に含める */
    margin-left: -1.495rem; /* 3.125rem の半分を左にマージンとして設定 */
    margin-right: -1.5rem; /* 3.125rem の半分を右にマージンとして設定 */
}

.company-card__img{
    margin-top: rem(30);
    width: 100%;
    height: 100%;
    @include mq(md){
        margin-top: rem(140);
        width: 100%;
        height: rem(272);
    }
}

.company-card__img img {
    aspect-ratio: 293/156;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 510/272;
    }
}

.company-card__source{
    margin-top: rem(3);
    display: flex;
    justify-content: center;
    font-size: rem(9);
    @include mq(md){
        font-size: rem(12);
    }
}

.company-card__source-text{
    text-decoration: underline;
}

.company-card__wrapper {
    background-color: #F3F3F3;
    border-radius: rem(5);
    text-align: left;
    margin: rem(30) 0 ;
    padding: rem(26) rem(20) rem(20);
    position: relative;
    @include mq(md){
        flex: 1;
        margin: rem(60) 0 rem(30) ;
        padding: rem(46) rem(20) rem(34);

    }
}

.company-recommendation{
    width: rem(134);
    height: rem(56);
    position: absolute;
    top: rem(-35);
    left: rem(10);
    @include mq(md){
        width: rem(234);
        height: rem(90);
        top: rem(-60);
    }
}

.company-card__dl{
    display: flex;
}

.company-card__dl + .company-card__dl{
    margin-top: rem(20);
}

.company-card__dl dt {
    font-size: rem(13.81);
    @include mq(md){
        font-size: rem(24);
    }
}

.company-card__sentence{
    margin-left: rem(5);
}

.company-card__dd{
    font-size: rem(13.81);
    @include mq(md){
        font-size: rem(24);
    }
}

.company-card__dd span {
    background-color: $green;
    color: $white;
}

.company-card__text{
    font-size: rem(9.1);
    margin-top: rem(5);
    line-height: 1.75;
    @include mq(md){
        font-size: rem(16);
        margin-top: rem(10);
    }
}

.company-card__text span {
    background: linear-gradient(transparent 75%, $green 75%);
}


/*ボタン*/
.company-card__buttons {
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(40);
    }
}