@use "global" as *;

.detail{
    max-width: $max-width;
    margin: auto;
    @include mq(md){
        max-width: rem(1440);
    }
}

.detail__main{
    width: 83.34%;
    background-color: #68D3B4;
}

.detail__sidebar{
    width: 16.67%;
}

.detail{
    display: flex;
}
