@use "global" as *;

.detail{
}

.detail__container{
    display: flex;
}

.detail__content{
    width: 100%;
    background-image: url(../images/common/detail-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(md){
        width: 83.34%;
    }
}

.detail__case{
    background-color: $green;
    margin-top: rem(60);
    @include mq(md){
        margin-top: rem(130);
    }
}

.detail__maker{
    background-color: #6ECAAF;
    @include mq(md){
        margin-top: rem(40);
    }
}

.detail__reviews{
    margin-top: rem(42);
    @include mq(md){
        margin-top: rem(70);
    }
}

.detail__info{
    margin-top: rem(80);
}





.detail__sidebar{
    width: 100%;
    @include mq(md){
        width: 16.67%;
    }
}


