@use "global" as *;

.detail__container{
    display: flex;
}

.detail__content{
    width: 100%;
    background-color: #68D3B4;
    @include mq(md){
        width: 83.34%;
    }
}

.detail__case{
    background-color: $green;
    margin-top: rem(60);
    @include mq(md){
        margin-top: rem(130);
    }
}

.detail__sidebar{
    width: 100%;
    @include mq(md){
        width: 16.67%;
    }
}


