@use "global" as *;

.favorite{
    background-color: #DFEED7;
    position: relative;
    overflow: hidden;
}

.favorite__head-logo{
    position: absolute;
    top: 50%;
    right: -9.5%;
    width: rem(134);
    height: rem(92);
}

.favorite__inner{
    max-width: $max-width;
    margin: auto;
    padding-top: rem(80);
    @include mq(md){
        max-width: rem(1440);
        padding: 0;
    }
}

.favorite__container{
    position: relative;
}

.favorite__container::before {
    background-image: url(../images/common/favorite-head-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: 75%;
    left: calc(50% - min(54%, rem(640)));
    width: rem(134);
    height: rem(92);
    z-index: 100;
    @include mq(md){
        background-image: none;
    }
} 

.favorite__bg{
    position: relative;
}

.favorite__bg::before {
    @include mq(md){
        background-image: url(../images/common/favorite-title.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        content: "";
        top: 0;
        left: calc(50% - min(52%, rem(800)));
        right: 0;
        width: rem(1180);
        height: rem(466);
    }
}


.favorite__head{
    background-color: $white;
    margin-left: rem(20);
    padding: rem(20) 0 rem(30) rem(16);
    position: relative;
}

.favorite__logo{
    font-size: rem(14);
    font-family: $second-font-family;
    position: absolute;
    top: -9%;
    left: 5%;
}

.favorite__title-tl{
    font-size: rem(18);
}

.favorite__title-tl span {
    font-size: rem(24);
}

.favorite__title-sub{
    font-size: rem(20);
    background-color: $black;
    color: white;
    margin-top: rem(10);
    padding: 0 rem(10);
    display: inline-block;
}

.favorite__title-sub span {
    position: relative;
    z-index: 1000;
}

.favorite__title-sub span::after {
    background-image: url(../images/common/favorite-head-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 260%;
    left: 15%;
    width: rem(50);
    height: rem(93);
    transform: translateY(-50%);
    transition: 0.2s background-color;
    z-index: 1;
}

.favorite__content{
    max-width: $max-width;
    margin: auto;
    padding-top: rem(65);
    @include mq(md){
        max-width: rem(1025);
        padding-top: rem(457);
        height: 100%;
    }
}

.favorite__text{
    font-size: rem(16);
    line-height: 1.8;
    padding: 0 rem(35);
    text-align: justify;
    @include mq(md){
        font-size: rem(20);
        padding: 0;
    }
}

.favorite__sentence{
    background-color: $white;
    margin-top: rem(62);
    font-size: rem(16);
    padding: rem(40) rem(35) rem(40) rem(22);
    position: relative;
    margin-left: rem(25);
    line-height: 2;
    @include mq(md){
        margin-top:rem(101) ;
        font-size: rem(20);
        padding: rem(34) rem(124) rem(20) rem(94);
        margin-left: 0;
    }
}

.favorite__sentence::after {
    background-image: url(../images/common/favorite-text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 0%;
    left: rem(0);
    width: rem(113);
    height: rem(36);
    transform: translateY(-50%);
    transition: 0.2s background-color;
    @include mq(md){
        width: rem(186);
        height: rem(36);
    }
}

.favorite__sentence span {
    background-color: $green;
    color: $white;
    padding: rem(3);
    font-size: rem(20);
    @include mq(md){
        padding: rem(5);
        margin-left: rem(-5);
    }
}

.favorite__info{
    margin-top: rem(60);
    @include mq(md){
        margin-top: rem(63);
    }
}