@use "global" as *;

.fv-pc{
    background-image: url('../images/common/fv-bg.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: rem(74);
}

.fv-pc__inner{
    position: relative;
}

.fv-pc__inner::before {
    background-image: url(../images/common/fv-bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(190);
    right: calc(50% - min(50%, rem(850)));
    width: rem(1014);
    height: 100%;
    z-index: -1;
} 





/*fv-pc__head*/
.fv-pc__head{
    display: flex;
    justify-content: space-between;
    max-width: rem(1380);
    margin: auto;
    padding: 0 rem(25) 0 rem(30);
}

.fv-pc__head-logo{
    margin-top: rem(19);
    width: rem(356);
    height: rem(68);
}

.fv-pc__head-content{
    text-align: center;
    background-color: #F2F2F2;
    color: #2F3A67;
    font-weight: $bold;
    padding: 0 rem(22) rem(14);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* メインの影 */
                0 6px 20px rgba(0, 0, 0, 0.1); /* 追加の影で立体感を強調 */
    border-radius: rem(5);           
}

.fv-pc__head-text{
    font-size: rem(16);
    line-height: 2.5;
}

.fv-pc__head-wrapper{
    display: flex;
    gap: 0 rem(20);
}

.fv-pc__head-button{
    display: inline-block;
    background-color:#00A88B ;
    color: $white;
    font-size: rem(14);
    letter-spacing: 0.34;
    border-radius: rem(50);
    height: rem(34);
}

.fv-pc__head-button--first{
    padding: 0 rem(46);
}

.fv-pc__head-button--second{
    padding: 0 rem(33); 
}

.fv-pc__head-button--third{
    padding: 0 rem(40);
    color: #2F3A67;
    background-color: inherit;
    border: solid 1px  #2F3A67;
}








/*fv-pc__center*/
.fv-pc__center{
    position: relative;
}

.fv-pc__center::before {
    background-image: url(../images/common/fv__center-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    content: "";
    bottom: rem(50);
    right: calc(50% - min(50%, rem(700)));
    width: rem(789);
    height: rem(350);
    z-index: 100;
} 

.fv-pc__center-wrapper{
    max-width: rem(1230);
    margin: rem(110) auto auto auto;
    padding: 0 rem(25);
    font-weight: $bold;

}

.fv-pc__center-subtitle{
    background-color: $white;
    border-radius: rem(5);
    display: inline-block;
    padding: rem(8) rem(26);
    font-size: rem(32);
}

.fv-pc__center-sell{
    color: #01C48C;
}

.fv-pc__center-use{
    color: #1A6AA9;
}

.fv-pc__center-title{
    font-size: rem(48);
    color: #01C48C;
    margin-top: rem(10);
    margin-left: rem(24);
}

.fv-pc__center-logo{
    width: rem(252);
    height: rem(252);
    margin-top: rem(40);
    margin-left: rem(24);
}

.fv-pc__center-img{
    width: rem(789);
    height: rem(349);
}




/*fv-pc__bottom*/
.fv-pc__bottom{
    max-width: 1440px;
    margin: rem(36) auto auto auto;
    padding: 0 rem(20);
}

.fv-pc__bottom-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 0 rem(45);
}

.fv-pc__bottom-left{
    display: flex;
    gap: 0 rem(23);
}

.fv-pc__bottom-icon img{
    width: rem(135);
    height: rem(135);
}

.fv-pc__bottom-box{
    text-align: center;
    margin-top: rem(-22);
    ;
}

.fv-pc__bottom-button {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: rem(10);
    font-weight: $bold;
    font-family: "Noto Sans JP", sans-serif;
    background-color: $white;
    color: #01C48C;
    width: rem(114);
    padding: rem(4.5) 0 rem(2.5);
    border-radius: rem(50);
}

.fv-pc__bottom-button span::after {
    background-image: url(../images/common/fv-icon-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 50%;
    right: rem(7);
    width: rem(7);
    height: rem(7);
    transform: translateY(-50%);
  }

.fv-pc__bottom-text{
    padding-top: rem(10);
    text-align: center;
    font-size: rem(14);
    font-weight: $bold;
    font-family: "Noto Sans JP", sans-serif;
}


.fv-pc__bottom-right img {
    margin-top: rem(-100);
    width: rem(510);
    height: rem(213);
    position: relative;
    z-index: 101;
}