@use "global" as *;

.point{
    background-color: #F7F7F7;
    text-align: center;
}

.point__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md){
        max-width: rem(1180);
    }
}

.point__head-en{
    font-family: $second-font-family;
    font-size: rem(14);
    color: #01C48C;
    @include mq(md){
        font-size: rem(20);
    }
}

.point__head-en::first-letter {
	text-transform: capitalize;
}

.point__head-title{
    font-size: rem(24);
    color: #01C48C;
    @include mq(md){
        font-size: rem(48);
    }
}

.point__head-subtitle{
    font-size: rem(32);
    @include mq(md){
        font-size: rem(48);
    }
}

.point__head-text{
    font-size: rem(16);
    margin-top: rem(20);
    text-align: left;
    @include mq(md){
        font-size: rem(20);
        margin-top: rem(40);
        text-align: center;
    }
}