@use "global" as *;

.price{
    background-color: #01C48C;
    background-image: url(../images/common/price-bg-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: rem(390) rem(1581);
    @include mq(md){
        background-image: url(../images/common/price-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: rem(1440) ;
    }
}

.price__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md){
        max-width: rem(1302);
    }
}

.price__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(109);
    }
}

.price__item + .price__item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(0);
    }
}

.price__container{
    @include mq(md){
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0 rem(100);
    }
}

.price__img{
    width: 100%;
    @include mq(md){
        width: 38.9830%;
    }
}

.price__img img {
    aspect-ratio: 319/248;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 460/358;
    }
}

.price__content {
    position: relative;
    width: 105%;
    margin-top: rem(20);
    @include mq(md){
        width: 43.2%;
        margin-top: 0;
    }
}

.price__wrapper{
    width: 95%;
    @include mq(md){
        width: 92.5925%;
    }
}

.price__head {
    font-size: rem(20);
    background-color: $black;
    color: $white;
    display: inline-block;
    padding: rem(13) rem(284) rem(13) rem(20);
    white-space: nowrap;
    position: absolute;
    top: 5%; /* テキストの位置を調整 */
    left: 0;
    right: 0;
    @include mq(md){
        font-size: rem(36);
        padding: rem(13) rem(284) rem(13) rem(40);
    }
}

.price__text {
    font-size: rem(16);
    line-height: 1.8;
    background-color: $white;
    padding: rem(86) rem(23) rem(20) rem(20);
    @include mq(md){
        font-size: rem(20);
        padding: rem(120) rem(17) rem(20) rem(24);
    }
}


.price__container--reverse{
    @include mq(md){
        flex-direction: row-reverse;
    }
}

.price__wrapper--margin{
    @include mq(md){
        margin-top: rem(104);
    }
}

.price__sentence {
    @include mq(md){
        display: flex;
        justify-content: center;
    }
}

.price__sentence-text {
    font-size: rem(16);
    background-color: $white;
    text-align: left;
    margin-top: rem(60);
    padding: rem(30) rem(20);
    border-radius: rem(5);
    line-height: 2;
    @include mq(md){
        font-size: rem(20);
        margin-top: rem(107);
        padding: rem(20) rem(53);
        line-height: 1.75;
    }
}
