@use "global" as *;

.section-title{
	display: flex;
	gap: 0 rem(8);
	text-align: center;
	align-items: center;
	justify-content: center;
	@include mq(md){
		gap: 0 rem(28);
	}
}

.section-title__en{
	font-family: $second-font-family;
	font-size: rem(14);
	font-weight: $bold;
    @include mq(md){
        font-size: rem(20);
    }
}

.section-title__en::first-letter {
	text-transform: capitalize;
}

.section-title__jp{
	font-size: rem(18);
	font-weight: $bold;
	@include mq(md){
		font-size: rem(40);
	}
}

.section-title__jp span {
	font-size: rem(26);
	@include mq(md){
		font-size: rem(48);
	}
}

.section-left__img,
.section-right__img{
	margin-top: rem(25);
	width: rem(32);
	height: rem(5);
	@include mq(md){
		margin-top: rem(35);
		width: rem(132);
		height: rem(24);
	}
}


.section-title__text--white{
	color: $white;
	white-space: nowrap;
}

.section-title__jp--text span {
	font-size: rem(23.7);
	@include mq(md){
		font-size: rem(48);
	}
}